extends layouts/main

block content
	div(class="large-12 columns")
		h2 Melone Mail

		div.row
			div(class="large-8 columns")
				h3 Emails sent
				div#chart-sent(class="chart")
			div(class="large-4 columns")
				h3 "What different"

block footer
	script(src="/js/highcharts/highcharts.js")