extends ../layouts/main

block content
	div(class="large-12 columns")
		h2 Templates

		ul.breadcrumbs
			li
				a(href="/") Melone
			li.current
				a Templates

		a.button(href="/templates/add")
			i.foundicon-add-doc
			span Add Template

		table
			thead
				tr
					th Name
					th Description
					th Created
					th Updated
					th
			tbody
				each template in templates
					tr
						td= template.name
						td= template.description
						td= template.created
						td= template.updated
						td
							a(href="/templates/" + template.id)
								i.foundicon-search
							span 
							a(href="/templates/edit/" + template.id)
								i.foundicon-edit
							span 
							a(href="/templates/remove/" + template.id, class="remove")
								i.foundicon-remove