extends ../layouts/main

block content
	div(class="large-12 columns")
		h2 API Keys

		ul.breadcrumbs
			li
				a(href="/") Melone
			li.current
				a Keys

		a.button(href="/keys/add")
			i.foundicon-plus Add key

		table
			thead
				tr
					th Key
					th Secret
					th Created
			tbody
				each key in keys
					tr
						td= key.key
						td= key.secret
						td= key.created