ul(class="side-nav panel side-nav-panel")
	li(class=(active === 'mail' ? 'active' : ''))
		a(href="/docs/mail") Mail
	li(class=(active === 'templates' ? 'active' : ''))
		a(href="/docs/templates") Templates